@tailwind base;
@tailwind components;
@tailwind utilities;


input:checked + label{
    border-color: #6ddccf;
    background-color: #94ebcd;
    color: #007580;
    transition: all 0.3s ease-in-out;
}